#gallery a {
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    color: #5b7cb6;
}
#gallery a:hover {
    text-decoration: underline;
    color: #f4560f;
}
#gallery a:active {
    text-decoration: none;
    color: #f9c190;
}

a .alt { display: none; }